{% extends "layout.html" %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Closest Ispark</title>
</head>

<body>
    
    <main>
        <h2>Closest Ispark Location</h2>
        {% if closest_ispark %}
        <p>Park Name: {{ closest_ispark.name }}</p>
        <p>Latitude: {{ closest_ispark.latitude }}</p>
        <p>Longitude: {{ closest_ispark.longitude }}</p>
        <p>Distance: {{ distance }} km</p>
        <a href="https://www.google.com/search?q={{closest_ispark.name}}">Go to Closest Ispark</a>
        <p><img src="{{ image_url }}" alt="Image of {{ closest_ispark.name }}" style="max-width: 100%; height: auto;"></p>
        {% else %}
        <p>No nearby Ispark found.</p>
        {% endif %}
        
    </main>
</body>

</html>
{% endblock %}