{% extends "layout.html" %}
{% block body %}

<div class="container">
    <h2>Isparks</h2>

    <!-- Table Section -->
    <table class="table table-striped table-hover table-bordered" id="isparks-table">
        <thead>
            <tr>
                <th>
                    Park Name
                    <input type="text" id="filter-park-name" class="form-control" placeholder="Filter by Park Name">
                </th>
                <th>
                    County
                    <input type="text" id="filter-county-name" class="form-control"
                        placeholder="Filter by County Name">
                </th>
                <th>
                    Capacity
                    <input type="text" id="filter-capacity" class="form-control"
                        placeholder="Filter by Park Capacity">
                </th>
                <th>
                    Working Time
                    <input type="text" id="filter-work_hours" class="form-control"
                        placeholder="Filter by Working Time">
                </th>
                <th>
                    Park Type
                    <input type="text" id="filter-park-type" class="form-control" placeholder="Filter by Park Type">
                </th>
                <th>
                    Distance (km)
                    <input type="number" id="filter-distance" class="form-control" placeholder="Filter by Distance">
                </th>
                <th>
                    Status
                    <input type="text" id="filter-status" class="form-control" placeholder="Filter by Status">
                </th>
                <th>
                    Empty Capacity
                    <input type="text" id="filter-empty-capacity" class="form-control" placeholder="Filter by Empty Capacity">
                </th>
                <th>Last Updated Date</th>
                <th>Get Direction</th>
            </tr>
        </thead>
        <tbody>
            {% for ispark in isparks_list %}
            <tr id="{{ispark.id}}">
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row">{{ ispark.name }}</td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row">{{ ispark.district }}</td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row">{{ ispark.capacity }}
                </td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row">{{ ispark.work_hours }}
                </td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row" id="centered">{{
                    ispark.park_type }}</td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row work_hours" id="centered">
                    {{ get_distance(ispark.lat, ispark.lng, curLocation[0], curLocation[1])
                    }}
                </td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row work_hours status"></td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row empty_capacity"></td>
                <td data-url="{{ url_for('ispark', id=ispark.id) }}" class="clickable-row update_date"></td>
                <td><a href="https://www.google.com/maps?q={ispark.lat},{ispark.lon}"
                        target="_blank">Get Direction</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // Function to filter the table based on input values
    function filterTable() {
        // Ensure the status is updated before filtering
        updateIsparkStatus();
        updateIsparkEmptyCapacity();

        const filterValues = {
            parkName: document.getElementById('filter-park-name').value.toLowerCase(),
            county: document.getElementById('filter-county-name').value.toLowerCase(),
            capacity: document.getElementById('filter-capacity').value.toLowerCase(),
            workingTime: document.getElementById('filter-work_hours').value.toLowerCase(),
            parkType: document.getElementById('filter-park-type').value.toLowerCase(),
            distance: parseFloat(document.getElementById('filter-distance').value), // Convert to number
            status: document.getElementById('filter-status').value.toLowerCase(),
            emptyCapacity: document.getElementById('filter-empty-capacity').value.toLowerCase(),
        };

        const rows = document.querySelectorAll('#isparks-table tbody tr');

        rows.forEach(row => {
            const cells = row.querySelectorAll('td');
            const parkName = cells[0].textContent.toLowerCase();
            const county = cells[1].textContent.toLowerCase();
            const capacity = cells[2].textContent.toLowerCase();
            const workingTime = cells[3].textContent.toLowerCase();
            const parkType = cells[4].textContent.toLowerCase();

            // Extract and convert distance to number
            const distanceText = cells[5].textContent.trim();
            const distance = parseFloat(distanceText);

            const status = cells[6].textContent.toLowerCase();
            const emptyCapacityText = cells[7].textContent.trim().toLowerCase(); // Read empty capacity

            const matches = (
                (filterValues.parkName === '' || parkName.includes(filterValues.parkName)) &&
                (filterValues.parkType === '' || parkType.includes(filterValues.parkType)) &&
                (filterValues.capacity === '' || capacity.includes(filterValues.capacity)) &&
                (filterValues.county === '' || county.includes(filterValues.county)) &&
                (filterValues.workingTime === '' || workingTime.includes(filterValues.workingTime)) &&
                (isNaN(filterValues.distance) || isNaN(distance) || distance <= filterValues.distance) && // Distance filter
                (filterValues.status === '' || status.includes(filterValues.status)) &&
                (filterValues.emptyCapacity === '' || emptyCapacityText.includes(filterValues.emptyCapacity)) // Empty Capacity filter
            );

            row.style.display = matches ? '' : 'none';
        });
    }




    // Run the status update function on page load and whenever a filter changes
    document.addEventListener('DOMContentLoaded', () => {
        updateIsparkStatus();
        updateIsparkEmptyCapacity();
        updateDate();
        filterTable(); // Run filter on page load to ensure no rows are hidden if default filters are applied
    });

    // Add event listeners to filter inputs
    document.querySelectorAll('#isparks-table thead input').forEach(input => {
        input.addEventListener('input', filterTable);
    });

    // Function to update status based on working time  
   function updateIsparkStatus() {
        fetch('https://api.ibb.gov.tr/ispark/Park') // Replace with your JSON URL
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json(); // Parse JSON data from the response
            })
            .then(data => {

                // Assuming data is an array of park objects
                const isparks = data; // Use the data directly as it's an array
                const rows = document.querySelectorAll('#isparks-table tbody tr');

                rows.forEach(row => {
                    const id = row.id;
                    const statusCell = row.querySelector('.status');

                    // Ensure data is an array and find the object with the matching parkID
                    const obj = isparks.find(result => result.parkID == id);

                    if (obj) {
                        if (obj.isOpen) {
                            statusCell.textContent = 'Open';
                            statusCell.style.color = 'green';
                        } else {
                            statusCell.textContent = 'Closed';
                            statusCell.style.color = 'rgb(239, 10, 10)';
                        }
                    } else {
                        // Handle case where no matching object is found
                        statusCell.textContent = 'Data not available';
                        statusCell.style.color = 'gray';
                    }
                });
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }

    function updateIsparkEmptyCapacity() {
            fetch('https://api.ibb.gov.tr/ispark/Park') // Replace with your JSON URL
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json(); // Parse JSON data from the response
                })
                .then(data => {

                    // Assuming data is an array of park objects
                    const isparks = data; // Use the data directly as it's an array
                    const rows = document.querySelectorAll('#isparks-table tbody tr');

                    rows.forEach(row => {
                        const id = row.id;
                        const statusCell = row.querySelector('.status');
                        const emptyCell = row.querySelector('.empty_capacity');

                        if(statusCell.textContent === "Open"){
                            const obj = isparks.find(result => result.parkID == id);
                            emptyCell.textContent = obj.emptyCapacity;
                        }
                        else{
                            emptyCell.textContent = "-"
                        }
                        
                    });
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }

    function updateDate() {
        fetch('https://api.ibb.gov.tr/ispark/Park') // Replace with your JSON URL
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json(); // Parse JSON data from the response
            })
            .then(data => {
                const isparks = data; // Use the data directly as it's an array

                const rows = document.querySelectorAll('#isparks-table tbody tr');

                // Create a map for faster lookup
                const isparkMap = new Map(isparks.map(ispark => [ispark.parkID, ispark]));

                rows.forEach(row => {
                    const id = parseInt(row.id); // Convert to number if needed
                    const dateCell = row.querySelector('.update_date');

                    if (isparkMap.has(id)) {
                        const obj = isparkMap.get(id);
                        fetch(`https://api.ibb.gov.tr/ispark/ParkDetay?id=${obj.parkID}`) // Correct URL construction
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok ' + response.statusText);
                                }
                                return response.json(); // Parse JSON data from the response
                            })
                            .then(data2 => {
                                
                                if (data2.length > 0) {
                                    const ispark = data2[0];
                                    dateCell.textContent = ispark.updateDate; // Update cell content
                                } else {
                                    
                                    dateCell.textContent = 'No data available'; // Handle case with no data
                                }
                            })
                            .catch(error => {
                                console.error('There has been a problem with your fetch operation:', error);
                            });
                    } else {
                        dateCell.textContent = 'Data not found'; // Handle case where no matching object is found
                    }
                });
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }




    document.addEventListener('DOMContentLoaded', function () {
            // Attach click event listener to each row
            const rows = document.querySelectorAll('.clickable-row');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    // Get the URL from the data attribute
                    const url = row.getAttribute('data-url');
                    if (url) {
                        // Redirect to the URL
                        window.location.href = url;
                    }
                });
            });

            
        });

    
</script>

{% endblock %}