{% extends "layout.html" %}
{% block body %}

<div class="container">
    <h2>{{ ispark.name}}</h2>
    <hr>
    <p><strong>Location:</strong> {{ ispark.name }}</p>
    <p><strong>Type:</strong> {{ ispark.park_type }}</p>
    <p><strong>Capacity:</strong> {{ ispark.capacity }}</p>
    <p><strong>County:</strong> {{ ispark.district }}</p>
    <p><strong>Working Time:</strong> {{ ispark.work_hours }}</p>
    <div id="info" ispark_id="{{ispark.id}}">


    </div>
    <p><a href="https://maps.google.com/?q={{lat}},{{lon}}" target="_blank">Open the ispark on google maps</p>
    </p>
    <p><a href="https://www.google.com/maps/@?api=1&map_action=pano&viewpoint={{lat}},{{lon}}
" target="_blank">See the park on pano viewpoint</p>
    </p>
</div>

<script>

    function updateInfo(){

        const id = document.getElementById("info").getAttribute("ispark_id");
        let emptyCapacity = "";
        fetch(`https://api.ibb.gov.tr/ispark/ParkDetay?id=${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json(); // Parse JSON data from the response
                })
                .then(data => {
                    const detail = data[0];
                    emptyCapacity = detail.emptyCapacity;
                    const updateDate = detail.updateDate;
                    const tariff = detail.tariff;
                    const address = detail.address;
                    document.getElementById("info").innerHTML = `
                        <p><strong>Empty Capacity:</strong> ${emptyCapacity}</p>
                        <p><strong>Update Date:</strong> ${updateDate}</p>
                        <p><strong>Tariff:</strong> ${tariff}</p>
                        <p><strong>Address:</strong> ${address}</p>
                    `;
                })

        fetch('https://api.ibb.gov.tr/ispark/Park') // Replace with your JSON URL
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json(); // Parse JSON data from the response
            })
            .then(data => {

                const isparks = data;
                const obj = isparks.find(result => result.parkID == id);
                if(obj){
                    if (obj.isOpen && emptyCapacity > 0) {
                        document.getElementById("info").innerHTML += `<p style="color: green; font-size:25px"><strong>The ispark is available</strong></p>`;
                    }
                    else if (!obj.isOpen) {
                        document.getElementById("info").innerHTML += `<p style="color: gray; font-size:25px"><strong>The ispark is closed at the moment</strong></p>`;
                    }
                    else {
                        document.getElementById("info").innerHTML += `<p style="color: red; font-size:25px"><strong>There is no available space at the ispark</strong></p>`;
                    }
                }
                else{
                    document.getElementById("info").innerHTML += `<p style="color: black; font-size:25px"><strong>The data is not available.</strong></p>`;
                }
                
        })

    }


    document.addEventListener('DOMContentLoaded', () => {
        updateInfo();
    });
</script>


{% endblock %}