<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9a930e8e94916d6d70b0b07fd02dcfbf {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9a930e8e94916d6d70b0b07fd02dcfbf" ></div>
        
</body>
<script>
    
    
            var map_9a930e8e94916d6d70b0b07fd02dcfbf = L.map(
                "map_9a930e8e94916d6d70b0b07fd02dcfbf",
                {
                    center: [40.9989448343, 28.932792397],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5121d4530b543cadf5f9aa3645ddbe2a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_5121d4530b543cadf5f9aa3645ddbe2a.addTo(map_9a930e8e94916d6d70b0b07fd02dcfbf);
        
    
            var feature_group_46a2676f25991fc0614831422033f372 = L.featureGroup(
                {}
            );
        
    
            var marker_3db469890850fec5f5bb77fe103213b5 = L.marker(
                [40.9989448343, 28.932792397],
                {}
            ).addTo(feature_group_46a2676f25991fc0614831422033f372);
        
    
            var icon_fba75a0ce4ffbc111ec4b49a9efd3998 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3db469890850fec5f5bb77fe103213b5.setIcon(icon_fba75a0ce4ffbc111ec4b49a9efd3998);
        
    
        var popup_3f8c82e2ba0d20b5e8bf0adadcdad45a = L.popup({"maxWidth": "100%"});

        
            
                var html_7551d366be146ab6ec21be35e0e94278 = $(`<div id="html_7551d366be146ab6ec21be35e0e94278" style="width: 100.0%; height: 100.0%;"><h1>Samatya Sahil</h1><img src='/static/images/ispark.png' width='100px'><p>16.27 kilometers away.</p></div>`)[0];
                popup_3f8c82e2ba0d20b5e8bf0adadcdad45a.setContent(html_7551d366be146ab6ec21be35e0e94278);
            
        

        marker_3db469890850fec5f5bb77fe103213b5.bindPopup(popup_3f8c82e2ba0d20b5e8bf0adadcdad45a)
        ;

        
    
    
            marker_3db469890850fec5f5bb77fe103213b5.bindTooltip(
                `<div>
                     <h4>AÇIK OTOPARK</h4><p>Latitude: 40.9989448343</p> <p>Longitude: 28.932792397</p>
                 </div>`,
                {"sticky": true}
            );
        
    
            feature_group_46a2676f25991fc0614831422033f372.addTo(map_9a930e8e94916d6d70b0b07fd02dcfbf);
        
</script>
</html>